<template>
  <div class="dashboard">
    <div class="left-column">
      <TaskForm />
      <TaskList :tasks="tasks" />
    </div>
    <div class="right-column">
      <TaskNotes v-if="selectedTask" :task="selectedTask"></TaskNotes>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
import TaskForm from "@/components/TaskForm.vue";
import TaskList from "@/components/TaskList/TaskList.vue";
import TaskNotes from "@/components/TaskNotes.vue";

export default Vue.extend({
  computed: {
    ...mapGetters(["tasks", "selectedTask"])
  },
  components: {
    TaskForm,
    TaskList,
    TaskNotes
  },
  mounted() {
    this.$store.dispatch("getTasks");
  }
});
</script>

<style lang="scss" scoped>
$gutter: 10vw;

.dashboard {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: $gutter;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex: 0 calc(60% - #{$gutter}/ 2);
}

.right-column {
  display: flex;
  flex: 0 calc(40% - #{$gutter}/ 2);
}
</style>
