<template>
  <transition name="fade">
    <div class="task-notes">
      <div class="header">
        <button class="button-close" type="button" @click="closeNotesPanel()">
          &#10005;
        </button>
      </div>
      <form>
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
        <span class="line-4"></span>
        <textarea
          class="textarea"
          placeholder="You can write your task notes here"
          v-model="clonedTask.notes"
        ></textarea>
      </form>
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from "vue";
import Task from "@/models/task";

export default Vue.extend({
  props: {
    task: {
      type: Object as () => Task
    }
  },
  data() {
    return {
      clonedTask: this.$props.task
    };
  },
  destroyed() {
    if (this.$data.clonedTask.notes !== this.$props.task.notes) {
      this.$store.dispatch("updateTask", this.$data.clonedTask);
    }
  },
  methods: {
    closeNotesPanel(): void {
      this.$store.commit("setSelectedTask", null);
    }
  }
});
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

.task-notes {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  margin-top: 0.5rem;
}

.button-close {
  flex-shrink: 0;
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  color: $tirtiary;
  font-size: 1rem;
  line-height: 0rem;
  text-align: center;
  background: rgba($secondary, 0.01);
  border: 1px solid $tirtiary;
  border-bottom: 0;
  border-radius: 0.2rem 0.2rem 0 0;
  outline: none;
  transform: translateY(2px);
  transition: color 0.3s, transform 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $secondary;
  }
}

form {
  position: relative;
  flex: 1;
}

.line-1,
.line-2,
.line-3,
.line-4 {
  position: absolute;
  background: $tirtiary;
  transition: transform 1s;
}

.line-1 {
  top: 0;
  width: calc(100% - 1.4rem);
  height: 1px;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 1.2s;
}

.line-2 {
  right: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 1.2s;
}

.line-3 {
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 1.2s;
}

.line-4 {
  left: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 1s;
}

textarea {
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0;
  color: #888;
  background: rgba($secondary, 0.01);
  border: none;
  border: 0;
  outline: 0;
  transition: opacity 0.8s;
  resize: none;

  &::placeholder {
    color: transparentize($secondary, 0.3);
    transition: opacity 0.2s;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.fade-enter-active {
  transition: opacity 0.3s;

  .button-close {
    transition-delay: 1s;
  }
}

.fade-leave-active {
  transition: opacity 0.3s;
  transition-delay: 0.9s;

  .line-1 {
    transition-delay: 0.3s;
  }
}

.fade-enter,
.fade-leave-to {
  opacity: 0;

  .line-1,
  .line-3 {
    transform: scaleX(0);
  }

  .line-2,
  .line-4 {
    transform: scaleY(0);
  }

  .button-close {
    transform: translateY(1.4rem);
  }

  .textarea {
    opacity: 0;
  }
}
</style>
